@import 'uview-ui/theme.scss';
/* 页面左右间距 */
$page-row-spacing: 30upx;
$page-color-base: #f8f8f8;
$page-color-light: #f8f6fc;
$base-color: #fa436a;

/* 文字尺寸 */
$font-base: 28upx;
$font-xsm: 22upx;
$font-sm: 24upx;
$font-md: 30upx;
$font-lg: 34upx;
$font-xl: 40upx;
$font-xxl: 50upx;
/*文字颜色*/
$font-color-dark: #14191F;
$font-color-base: #606266;
$font-color-light: #8B9FAA;
$font-color-disabled: #C0C4CC;
$font-color-spec: #4399fc;
$font-color-blue: #0952C3;
$font-color-red: red;
/* 边框颜色 */
$border-color-dark: #DCDFE6;
$border-color-base: #E4E7ED;
$border-color-light: #EBEEF5;
/* 图片加载中颜色 */
$image-bg-color: #eee;
/* 行为相关颜色 */
$uni-color-primary:#fa436a;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
$uni-color-upper: #00b45a;
$uni-color-lower: #ff6059;
$uni-color-gap: #EEF2F5;
$uni-color-subbg: #F7F6FB;
$uni-color-blue: #0952C3;
$uni-color-tip: #E8F2FC;
$uni-color-royal: #E8F2FC;

